<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <%-  include('./partials/heads') %>
    <style>
        body{
            background-color: #546d8a;
            color:azure;
            font-size: large;
        }
    </style>
</head>
<body>
    <%- include('./partials/nav') %>
    <%- include('./partials/scripts') %>
</body>
</html>